
.logo{
    width: 125px;
  }

.nav{
    font-size: 15px;
    font-weight: 400;
    color:white;
    transition: 1.5s;
    line-height: 20px;
    padding: 5px; 
  
}

.nav:hover{
    text-decoration: none;
    text-decoration: overline;
    color: orange;
   
}

.log-Btn{
    border: orange;
    border-radius: 5px;
    background-color: orange;
    color:black;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    line-height: 18px;
    cursor: pointer;
    transition: 1.5s;
}

.log-Btn:hover{
    border: #0069D9;
    border-radius: 5px;
    background-color: #0069D9;
    color: whitesmoke;
    outline: #0069D9;
    line-height: 18px;
    text-decoration: none;
}